﻿@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Home Page";
}
@section style{
    <style>
    .form-signin {
    width: 310px;
    padding: 15px;
    margin: 0 auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
</style>
}
<div class="d-flex flex-row align-items-stretch h-100">
    <div class="p-2 flex-grow-1 bg-success">
        <div class="p-2 text-light">
            <br />
            <h1 class="h1 font-weight-bold font-weight-normal">Welcome to My Replica of Google Drive</h1>
            <hr />

            
        </div>
    </div>
    <div class="p-2">
        <br />
        <form class="form-signin" id="loginForm" method="post" action="@Url.Content("~/User/ValidateUser")">
            <h1 class="h3 mb-3 font-weight-normal">Sign In Here</h1>
            <label for="pLogin" class="sr-only">Email address</label>
            <input id="pLogin" name="pLogin" class="form-control" placeholder="Login" required="" autofocus="" type="text">
            <label for="pPassword" class="sr-only">Password</label>
            <input id="pPassword" name="pPassword" class="form-control" placeholder="Password" required="" type="password">
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign In</button>
        </form>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert" id="alert">@TempData["Error"]</div>
        }
    </div>
</div>
