﻿<!-- Modal Details -->
<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailsLongTitle">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="details">
                    <tr class="tr-Type">
                        <td class="text-muted" style="width:100px">Type</td>
                        <td class="Type">Folder</td>
                    </tr>
                    <tr class="tr-Name">
                        <td class="text-muted">Name</td>
                        <td class="Name"></td>
                    </tr>
                    <tr class="tr-Owner">
                        <td class="text-muted">Owner</td>
                        <td class="Owner"></td>
                    </tr>
                    <tr class="tr-CreatedOn">
                        <td class="text-muted">Created</td>
                        <td class="CreatedOn"></td>
                    </tr>
                    <tr class="tr-FileExtention">
                        <td class="text-muted">File Extention</td>
                        <td class="Ext"></td>
                    </tr>
                    <tr class="tr-FileSize">
                        <td class="text-muted">File Size</td>
                        <td class="FileSizeInKb"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
