﻿<!-- Modal New Folder -->
<div class="modal fade" id="modalNewFolder" tabindex="-1" role="dialog" aria-labelledby="modalNewFolderTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewFolderLongTitle">Create New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formNewFolder">

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputFolderName" class="col-sm-3 col-form-label">Folder Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputFolderName" placeholder="Folder Name" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-create">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
