﻿@model MD.Entities.UserDTO

@{
    ViewBag.Title = "Home";
}
@section scripts {
    <script>	
        $(document).ready(function () {
		
            $.contextMenu({
                selector: "#explorer",
                items: {
                    newFolder: { icon: 'fa-plus-square', name: "New Folder", 
                        callback: function (key, opt) {
                            $('#modalNewFolder').modal('show'); 
                        }
                    },

                    refresh: { icon: 'fa-undo', name: "Refresh", callback: CONTEXTMENU_FUNCTIONS.RefreshExplorer },
                    upload: { icon: 'fa-upload', name: "Upload", callback: function (key, opt) { $('#modalUpload').modal('show') } },
                }
            });


            $.contextMenu({
                selector: ".item-folder",
                items: {
                    open: { icon: 'fa-folder-open', name: "Open", callback: function (key, opt) { openFolder(opt.$trigger.attr('data-itemid')); } },
                    "delete": { icon: 'fa-trash', name: "Delete", callback: function (key, opt) { $('#modalDelete').modal('show'); $('#modalDelete .btn-delete').click(function (e) { MODAL_FUNCTIONS.FolderDelete($(opt.$trigger).data('itemid')); e.preventDefault(); }) } },
                    details: { icon: 'fa-info-circle', name: "Details", callback: CONTEXTMENU_FUNCTIONS.FolderDetails}
                }
            });


            $.contextMenu({
                selector: ".item-file",
                items: {
                    download: {
                        icon: 'fa-download', name: "Download", callback: function (key, opt) {
                            var link = '/api/Ajax/DownloadFile?Id=' + $(opt.$trigger).data('itemid') + '&CreatedBy=' + localStorage.getItem('UserId');
                            $('#fileDownloadLink').attr('href', link);
                            window.location = link;
                            $('#modalDownload').modal('show');
                        }
                    },
                    preview: { icon: 'fa-eye', name: "Preview", callback: CONTEXTMENU_FUNCTIONS.FilePreview },
                    "delete": { icon: 'fa-trash', name: "Delete", callback: function (key, opt) { $('#modalDelete').modal('show'); $('#modalDelete .btn-delete').click(function (e) { MODAL_FUNCTIONS.FileDelete($(opt.$trigger).data('itemid')) }); e.preventDefault(); } },
                    details: { icon: 'fa-info-circle', name: "Details", callback: CONTEXTMENU_FUNCTIONS.FileDetails }
                }
            });


            $('#formNewFolder').submit(function (e) {
                MODAL_FUNCTIONS.FolderCreate($('#inputFolderName').val());
                e.preventDefault();
            });

            //inputUpload

            $('#formUpload').submit(function (e) {
                console.log('form submit');
                MODAL_FUNCTIONS.UploadFile($('#inputUpload').get(0).files);
                e.preventDefault();
            });

            // loader
            $(document)
            .ajaxStart(function () {
                $("#ajaxLoader").fadeIn();
            })
            .ajaxStop(function () {
                $("#ajaxLoader").fadeOut();
            });
			
});
    </script>
}
<div class="d-flex flex-row align-items-stretch h-100">
    <div class="p-3 bg-light w-25" style="min-width:224px">
        <ul class="nav flex-column side-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/User/Index")"><i class="fa fa-hdd-o"></i>  Drive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modalDownload" id="btnDownloadMeta"><i class="fa fa-file-pdf-o"></i> Download Meta</a>
            </li>
        </ul>  
    </div>
    <div class="flex-grow-1 d-flex flex-column">
        <nav class="explorer-panel navbar navbar-expand-md navbar-light bg-light pt-3 pb-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#panelCollapse" aria-controls="panelCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="panelCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-block btn-secondary disabled" id="panel-btn-back"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </li>
                    <li class="nav-item pl-2">
                        <button class="btn btn-block btn-secondary disabled" disabled="" id="panel-btn-forward"><i class="fa fa-arrow-circle-right"></i> Forward</button>
                    </li>
                    <li class="nav-item pl-2">
                        <button class="btn btn-block btn-secondary disabled" disabled="" id="panel-btn-up"><i class="fa fa-arrow-circle-up"></i> Up</button>
                    </li>

                    <li class="nav-item pl-2">
                        <button class="btn btn-block btn-secondary disabled" disabled="" id="panel-btn-home"><i class="fa fa-home"></i> Home</button>
                    </li>
                </ul>

                <form class="form-inline pl-md-5" id="formSearch">
                    <input class="form-control" type="text" placeholder="Search" id="inputSearch" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div id="ajaxLoader">
            <div class="loader"></div> 
        </div>
        <div class="alert alert-light" id="noitems">No items to display.</div>
        <div class="p-3 flex-grow-1" id="explorer"></div>
    </div>
</div>
@Html.Partial("_Partial_ModalDelete")
@Html.Partial("_Partial_ModalDetails")
@Html.Partial("_Partial_ModalDownload")
@Html.Partial("_Partial_ModalNewFolder")
@Html.Partial("_Partial_ModalPreview")
@Html.Partial("_Partial_ModalUpload")
@Html.Partial("_Partial_ModalAbout")
<script>
    localStorage.setItem("UserId", "@Model.Id");
    localStorage.setItem("UserName", "@Model.Name");
    localStorage.setItem("UserLogin", "@Model.Login");
</script>