﻿<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyDrive</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="h-100" style="padding-bottom:0;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        @Html.ActionLink("My Replica Drive", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="@Url.Content("~/User/Logout")">Logout</a>
                </li>
                <!---<li class="nav-item">
                    <a href="#" class="nav-link text-light" data-toggle="modal" data-target="#modalAbout">
                        About
                    </a>
                </li>-->
            </ul>   
        </div>
    </nav>
    <div class="body-content h-100 p-0">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/contextMenu")
    @Scripts.Render("~/bundles/globalScripts")
    @Scripts.Render("~/bundles/userScripts")

    @RenderSection("scripts", required: false)
</body>
</html>
