﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* CUSTOM */
#explorer {

}
.context-menu-item {
    padding: .4em 3em;
}
.context-menu-icon.context-menu-icon--fa::before {
    margin-left:5px;
}

.side-nav {
    min-width:150px;
}
.item-file-folder:focus {
    outline:none;
}
.item-file-folder:hover .card,
.item-file-folder:active .card,
.item-file-folder:focus .card,
.item-file-folder.active .card {
    background-color:rgba(0, 0, 0, 0.025);
}
.item-file-folder.active .card,
.item-file-folder:focus .card {
    border-color:#00d1b2;
    box-shadow: 0px 0px 2px #00d1b2;
}
.item-file-folder:hover{
    cursor:pointer;
}
.item-thumb-img {
    width:60px;
    height:60px
}

#noitems {
    display:none;
}

.folderdetails .tr-FileExtention,
.folderdetails .tr-FileSize {
    display:none;
}

/* SNACKBAR */
 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    z-index:9999;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 

/* Loader */
#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: #0006;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}